/* .name h1{
animation:typing 3s steps(40,end),blink-caret.75s step-end infinite;
white-space:nowrap;
overflow: hidden;
}
@keyframes typing{
from{width:0}to width:{100%}
}
@keyframes blink-caret {
from,to{border-color: transparent}
50%{border-color:white;}
} */

/* setting margin to 0px of all the content */
   /* header */
body{
  font-famly:verdana;
}
*{
  margin:0px;
}
/* setting background image in the header */
#header-1{
  height: 67vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity:0.7; */
  background-image:url("./img/bh.jpg");
}

/* nav bar css content */
#navi a{
text-decoration:none;
transition:color 0.3s;
color:black;

}

#navi li{
  display:inline-block;
  margin-right:30px;
  font-size:2rem;
  font-weight: 900;
  padding-top:10px;
  /* padding-left:0px; */
}

#navi a:hover{
  color:green;
  border-bottom:1px solid green;
}

/* setting he navbar to center */
.align-center{
  text-align: center;
}
.name{
  padding-top:7rem;
  font-size:2.4rem;
  letter-spacing:1rem;
  text-align:center;
}
.icons ul{
  list-style:none;
  text-align: center;
  padding-top:2rem;

}
.icons ul li{
    padding-right:2rem;
    display:inline-block;
}
.icons ul li a{
  text-decoration: none;
  color:black;
  font-size:2rem;
}
.icons ul li a:hover{
  border-bottom:2px solid black;
}

        /* about section */
.imag{
  height:12rem;
  width:12rem;
  margin:auto;
  margin-top:-70px;
  margin-bottom:30px;
}
.imag img{
  height: 100%;
  width:100%;
  border-radius:50%;
  box-shadow: 0px 0px 4px 2px red;

}
.abt-me{
  margin-left:12.5%;
  margin-right:12.5%;
}
.abt-me p{
  font-family: sans-serif;
  font-weight:100;
  color:grey;
}
.txt{
  color:#2857a4;
}

     /* different sections diff bg-color */
section:nth-child(2n) {
   background-color: #9e9b9b29;
}
section:nth-child(2n + 1) {
   background-color: white;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}


    /* skills section */
#skills{
margin-top:4em;
min-height:350px;
}
.sec-skills{
  color:#2857a4;
  font-size:40px;

}
.skill-head{
  text-align: center;
  margin-top:1.2rem;
  padding-top:1rem;
  padding-bottom:2em;
}
.skill-1{
  border-radius:25rem;
  width:22%;
  background-color:#dbdbdb;
  /* padding:1rem; */
}
.skill-prog{
  width:60%;
  padding:12px;
  border-top-left-radius:25rem;
  border-bottom-left-radius:25rem;
  background-color:#2857a4;
}
/* skills name */
.skill-name>span{
  color:white;
  font-size:30px;
}
.skills-name{
  display:flex;
  flex-wrap:wrap;
  /* border:1px solid black; */
  /* flex-direction:row; */
  justify-content:space-around;
}

/* for section-2 for skills */
.skills-name-sec2{
  margin-top:3rem;
  display:flex;
  flex-wrap:wrap;
  /* flex-direction:row; */
  justify-content:space-around;
}
.js{
  background-color:#ec4d1c;
  width:40;
}
.sql{
  width:50%;
  background-color:#0b8176;
}
.html{
  width:65%;
  background-color:#93738c;
}
.py{
  width:35%;
  background-color:#73937c;
}


/* edducational section  */
.head-sec{
  margin:auto;
  margin-bottom:4rem;
  margin-top:25px;
  /* margin-left:25px; */
  /* padding-top:1rem; */
}
#education{
  height:65rem;
}
.timeline{
  display:relative;
  /* border:2px solid black; */
  width:75%;
  margin:auto;
  /* height:39.5rem; */
}
.timeliner{
  display:relative;
  width:54%;
  margin:5px;
  /* min-height:300px; */
  /* border:2px solid black; */
}
.timeliner-2{
  margin-left:60%;
}

/* education section div */

.ed-icon{
  color:#2857a4;
  display:inline-block;
  width:79%;
  font-size:2rem;
  /* border:1px solid black; */
}
.ed-heading{
  display:inline-block;
  margin-left:15rem;
  font-size:40px;
  /* border:1px solid blue; */
}
.ed-name{
  margin-top:0.5rem;
  color:#eb822d;
  margin-left:17rem;
  font-size:20px;
}
.ed-date{
  /* margin-top:1rem; */
  margin-left:10rem;
  font-size:20px;
}
.ed-para{
  margin-top:1em;
  color:grey;
  font-size:25px;
}
.timeline-divider{
  position:absolute;
  margin-top:4rem;
  margin-left:550px;
  height:700px;
  width:0;
  border:3px dashed #0096fa6b;
}
.time-traveler{
  position:sticky;
  top:20%;
  z-index: 1;
}
.plane-icon{
  margin-top:25px;
  margin-left:-16px;
  color:#2857a4;
  font-size:30px;
  /* z-index:1; */
  /* margin-bottom: px; */
  transform:rotate(90deg)
}
#portfolio{
  height:1000px;
}
.timeliner:nth-child(2n)::after{
  content:'';
  width:1rem;
  height:1rem;
  border-radius:50%;
  margin-top:-17%;
  margin-left:40%;
  background-color: grey;
  position:absolute;

}
.timeliner:nth-child(2n+1)::after{
  content:'';
  width:1rem;
  height:1rem;
  border-radius:50%;
  margin-top:-20%;
  margin-left:-4.6%;
  background-color: grey;
  position:absolute;

}

/* footer thing */
#foot{
  border:1px solid black;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  min-height:300px;
  /* width:75%; */
  color:white;
}
.foot-head{
  margin-top:3rem;
  font-size:40px;
  text-align: center;
  font-weight: bold;
}

/* main content of the footer */

.foot-main{
  border:1px solid white;
  height:20rem;
  width:75%;
  margin:auto;
  margin-top:1rem;
}
.foot-box1{
border:1px solid white;
height:100px;
width:100px;
display:inline-block;
}
.foot-box2{
  border:1px solid white;
  height:100px;
  width:100px;
  display:inline-block;
}

/* media queires */
@media screen {

}
